<!-- footer -->
<div id="contact" class="footer row-fluid">
    <div class="container">
        <div class="col col-sm-4">
            <p>Plumeria Web Design © 2017</p>
        </div>

        <div class="contact col col-sm-4">
            <ul>
                <li>
                    <img src="~/Images/icon_location.png">
                </li>
                </br>
                <li>
                    <img src="~/Images/icon_phone.png">
                </li>
                </br>
                <li>
                    <img src="~/Images/icon_email.png">
                </li>
            </ul>
        </div>

        <div class="col col-sm-4">
            <h3>About the company</h3>
        </div>
    </div>
</div><!-- footer -->