<!-- toolbar -->
<div class="toolbar nav navbar-default navbar-fixed-top">
    <div class="container">
        <a class="home-link" href="@Url.Action("Index")"><img class="logo" src="~/Images/logo.png"></a>
        <div id="hamburger" class="navbar-toggle">

            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>

        <div id="header-nav" class="navbar-collapse collapse navbar-right">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another</a></li>
                    </ul>
                </li>
                <li class="one"><a href="#features">Features</a></li>
                <li class="two"><a href="#intro">Community</a></li>
                <li class="three hide-small"><a href="#contact">Contact us</a></li>
            </ul>
        </div>
    </div>

</div><!-- toolbar -->

<div id="menu">
    <span class="menu"></span>
    <ul class="menu">
        <li><a href="#header">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#intro">Community</a></li>
        <li><a href="#contact">Contact us</a></li>
    </ul>
</div>