/* global change */
body {
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

html h1,h2,h3,h4,h5,h6,p,a,label{
    font-family: Roboto, 'Microsoft JhengHei';
}

h1,h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.row-fluid {
    min-height: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.devider {
    min-height: 30px;
}

.devider span{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    border: 0.5px solid #ddd;
}

ul {
    list-style-type: none;
    float: left;
    padding: 0;
}

/* toolbar */
a.home-link {
    margin-right: auto;
}

.logo {
    width: 100px;
    height: auto;
    padding: 10px;  
}
.toolbar{
    background-color: rgba(40,40,40,1);
}
.toolbar .container {
    display: flex;
    align-items: center; 
}
#header-nav {
    margin-left: auto;
}
#header-nav ul{
    margin: 0;
}
#header-nav ul li{
    padding: 10px; 
    display: inline-block;
}
#header-nav ul li a{
    font-size: large;
}

#header-nav ul li a:hover{
}

#header-nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* header */
.header {
    height: 50vh;
}

.header .bg {
    
    content: "";
    background: url('/Images/bg_test.jpg') no-repeat scroll center top;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 50vh;
    right: 0;
    position: absolute;
    z-index: -2; 
}

/* content */
li.col img {
    width: 100px;
    text-align: center;
}
li.col p {
    color: #000;
    font-weight: 400;
}

/* form */
#form-bg {
    position:absolute;
    height: 600px;
    min-width: 300px;
    width: 100%;
    text-align: center;
    background-color: #ddd;
    display: block;
    z-index: -1;
}
.form {
    text-align: center;
}
.form .container{
    background-color: #ddd;
}
.form ul {
    width: 100%;
    margin-bottom: 10px;
}
.form ul li{
    width: 100%;
    margin-bottom: 5px;
}

.form-group3 ul.date {
    -webkit-columns: 2;
    columns: 2;
    -webkit-column-gap: 8px;
    column-gap: 8px;
}

.form-group4 ul {
    -webkit-columns: 3;
    columns: 3;
    -webkit-column-gap: 8px;
    column-gap: 8px;
}

.form-group4 ul li,
.form-group3 ul.date li {
    -webkit-column-break-inside: avoid; 
    column-break-inside: avoid; 
}

.form-group {
    margin: auto;
}
div.form-group *{
    float:left;
    margin-right: 10px;
}
.form-group label{
    height: initial;
    float: left;
    color: #333;
    font-weight: 400;
    margin-bottom: 0;
}
.input-group.date {
    display: flex;
    width: 100%;
}

input.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #FF0000;
}


.input-group.date *{
    float: left;
    margin: 0px;
    width: auto;
}
.input-group.date input {
    width: 100%;
}
.radio {
    width: 15px;
    height: 15px;
}
span.hint {
    font-size: 11px;
    height: auto;
    margin-top: -5px;
    margin-bottom: 0;
}
.form-group button {
    float: right;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .form {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 480px) {
    .form {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 360px) {
    .form-group3 ul.date {
        -webkit-columns: initial;
        columns: initial;
        -webkit-column-gap: initial;
        column-gap: initial;
    }

    .form-group4 ul {
        -webkit-columns: initial;
        columns: initial;
        -webkit-column-gap: initial;
        column-gap: initial;
    }
}
@media screen and (min-width: 768px) {
    .form-group3 ul.date {
        -webkit-columns: initial;
        columns: initial;
        -webkit-column-gap: initial;
        column-gap: initial;
    }

    .form-group4 ul {
        -webkit-columns: initial;
        columns: initial;
        -webkit-column-gap: initial;
        column-gap: initial;
    }
}
@media screen and (min-width: 1200px) {
    .form-group3 ul.date {
        -webkit-columns: 2;
        columns: 2;
        -webkit-column-gap: 8px;
        column-gap: 8px;
    }

    .form-group4 ul {
        -webkit-columns: 3;
        columns: 3;
        -webkit-column-gap: 8px;
        column-gap: 8px;
    }
}

/* test-data */
#test-data td{
    color: #000;
    text-align: right;
    width: 50%;
}

#test-data table { 
    width: 100%;
}

#test-data tr:nth-child(even){
    background-color: #eee;
}
#test-data tr {
    border: 1px solid #666;
}
#test-data tr:hover {
    background-color: #E6FBFF;
}

/* features */
.features h2 {
    text-align: center;
}
.features img {
    width: 40px;
    height: auto;
    margin: 10px;
}
.features div.col {
    margin-bottom: 30px;
}

/* footer */
.footer {
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #4a4949;
}
.footer p, .footer h3 {
    color: #ddd;
    margin-top: 10px;
}
div.contact {
    overflow:hidden;
}
div.contact ul li {
    margin-bottom: 15px;
}
div.contact ul li img{
    width: 40px;
    height: auto;
}

/* end footer */

.col {
    height: 100%;
}

.square {
    border: 1.2px solid #000;
}

@media screen and (max-width: 767px) {

    div.intro ul li {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    img.center {
        float: left;
        margin-right: 10px;
        clear:both;
        max-width: 100px;
        height: auto;
    }
    #text {
        margin-left: 0px;
        overflow:auto;
        display:block;
    }
}

/* hamburger menu */
#menu .menu {
    width: auto;
    height: auto;
    background-color: #eee;
    position: fixed;
    top: auto;
    right: -200px;
    float: right;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}
#menu .menu.is-active {   
    right: 0;
}
ul.menu {
    margin-top: auto;
}
ul.menu li {
    padding: 20px 20px 20px 20px;
}
ul.menu li:hover {
    background-color: #AAA;
}
ul.menu li a {
    text-decoration: none;
}

.navbar-toggle {
    border: none;
    margin: 0;
    padding: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

#hamburger .line{
  width: 40px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}