html, body {
    background-color: #FFEEDC;
    height: 100%;
}

.container{
    left: 0;
}

.flex {
    display: flex;
}

/* top navbar */
.navbar-fixed-top {
    background-color: #7C421B;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #FFF8DC;
}

/* chat area */
div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: calc(100% - 48px);
}

div ul li{
    display: inline-block;
    width: 60%;
    padding-bottom: 15px;
}

ul form {
    height: auto;
    overflow: hidden;
    clear: both;
}

table img {
    width: 100%;
    height: auto;
    text-align: center;
}

.bubble img {
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.chat-area {
    margin-top: 0px;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 51px;
    overflow: auto;
}

.chat-user {
    margin: 2px;
    float: right;
}

.chat-reply {
    margin: 2px;
}

.circle {
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #A0522D;
}

.bubble {
    border: 1.5px #666 solid;
    border-radius:10px;
    margin: 0;
    padding: 2px;
}

.bubble-user {
    display: flexbox;
    float: right;
    margin-right: 10px;
    background-color:#FFE4C4;
}

.bubble-reply {
    border-color: #CD853F;
    float: left;
    margin-left: 10px;
    background-color: #fff;
}

.bubble p,
.bubble a {
    display: block;
    margin:2px;
    word-break:break-all;
    font-size: 16px;
}

.bubble-reply table td {
	text-align: center;
	border-bottom: 2px #eee solid;
}

/*option*/
.option {
    width: 100%;
    height: auto; 
    text-align: center;
    padding-bottom: 15px;
}

.bubble-option {
    display: inline-block;
    margin-right: 10px;
    background-color:#FFF;
}

.hide {
    display: none;
}

/* bottom navbar */

form {
    overflow: hidden;
    height: 51px;
    display: flex;
}

.submit {
   margin: 0;
   border: none;
   width: 52px;
   height: 51px;
   display: flex;
   background-color: #86542B;
}

.tri {
    align-self: center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #D8C49D;
    margin: 0 auto;
}

.text-area {
    margin: 0;
    width: calc(100% - 52px);
    float: left;
    align-items: stretch;
    padding-right: 10px;
    padding-left: 10px;	
    background-color: #EFDDCC;
}

.btn-area {
    margin: 0;
    padding: 0;
    float: right;
}

.textbox {
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #808080;
    background-color: #FFF;
    height: 60%;
    width: 100%;
}

/**/


@keyframes blink {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}